<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle damage prediction</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h1>Intelligent Vehicle Damage Assessment & Cost Estimator For Insurance Companies</h1>
        <nav>
            <li>Home</li>
            <li><a href="/login" style="text-decoration: none;color: white;">Prediction</a></li>
            <li><a href="/login" style="text-decoration: none;color: white;">Login</a></li>     
        </nav>
    </header>
    <div class="about">
        <h1 class="title">ABOUT PROJECT</h1>
        <p>
            Vehicle damage detection is used to reduce claims leakage during insurance processing.
            Visual inception and validation are usually done. As it takes a long time, because a person needs to come
            and inspect the damage.
            Here we are trying to automate the procedure. Using this automation, we can avoid time conception for the
            insurance claim process.
        </p>

    </div>
    <!-- <div style="margin:0 auto;">
        <img src="ibm gif.gif" style="width: 300px; height: 270px;">
    </div> -->
    <footer>
        <p>Copyrights &copy;. All rights reserved.</p>
        <ul>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
        </ul>
    </footer>
</body>

</html>