* {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('/static/image/Frame\ 6.png');
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.69);
    color: white;
    font-size: smaller;
    padding: 20px 10px;
}

nav li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: larger;
}

.container {
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-width: 100%;
    width: 500px;
}

.header {
    border-bottom: 2px solid white;
    background-color: skyblue;
    padding: 20px 40px;
    justify-content: center;
    text-align: center;
}

.header h2 {
    margin: 0;
    text-align: center;
}

.form {
    background-color: rgb(185, 183, 183);
    padding: 20px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    
}

.form-control input {
    display: block;
    border: none;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form-control input:focus{
    outline: none;
    border: 2px solid blue;
}
.form-control.valid input{
    border: 2px solid green;
}
.form-control.error input{
    border: 2px solid red;
}
.form-control i{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}
.form-control.valid i.fa-check-circle{
    color: green;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}
.form-control small{
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form button{
    background-color: black;
    border: none;
    color: white;
    display: block;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.header1 {
    border-top: 2px solid white;
    background-color: skyblue;
    padding: 20px 40px;
    justify-content: center;
    text-align: center;
}